---
import ButtonSubscribe from "../components/ButtonSubscribe";
import Layout from "../components/Layout.astro";
---

<Layout titlePage="My web">
  <h1 class="green text-4xl mt-8">Página inicio</h1>
  <p class="my-4 text-lg">
    Este es el contenido de la <span class="yellow">página principal</span>.
  </p>
  <p class="mb-2">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, quasi
    doloribus rem rerum itaque maiores non tempora natus harum, ipsum quaerat
    perspiciatis asperiores eos, repudiandae pariatur dolorem vero repellendus!
    Nihil iste suscipit enim ullam aperiam dolor alias vitae rerum mollitia
    atque aliquid natus assumenda beatae quam eligendi explicabo, quae
    aspernatur vero dolorem laborum a laudantium sed inventore quo! Pariatur
    blanditiis tempora ex excepturi aut inventore at neque perspiciatis labore
    quod nesciunt, sequi laborum officiis hic cum tempore quibusdam numquam
    culpa. Voluptas inventore molestias nostrum quia consequuntur eos distinctio
    minus esse aspernatur laboriosam, cumque fugiat natus dignissimos atque
    saepe! Iste eveniet quaerat maiores? Delectus accusantium obcaecati
    aspernatur veniam nostrum illo, ab adipisci quod harum asperiores ex
    voluptates nesciunt nihil minus nobis ea, quas sequi omnis? Asperiores
    repellendus ipsa esse, inventore, ut quibusdam sed modi iure recusandae
    quaerat dolores consequuntur in maxime hic beatae? Culpa officiis inventore
    quae molestias necessitatibus facere perferendis dolores laborum velit
    commodi, perspiciatis, blanditiis sunt minus vero veritatis iusto nostrum
    labore, quibusdam maxime. Necessitatibus modi, eligendi architecto fugiat
    commodi quisquam ut, et quasi voluptate odit reiciendis doloribus nemo
    consequuntur quia cum excepturi amet suscipit neque similique qui totam? Aut
    consectetur soluta quis sequi quisquam officia recusandae, ut, excepturi
    voluptate sapiente vero maiores! Eaque veniam maiores aspernatur deserunt
    nisi rerum aut, voluptas qui magni expedita cum. Ducimus, at sed. Expedita
    eius assumenda omnis ab aliquid! Neque accusantium aliquid placeat possimus
    sint sed, dolor, asperiores saepe libero fugiat, ipsam minima. Libero
    tempora iusto animi veritatis labore, dolorum ut quae ducimus nisi
    consequatur exercitationem. Et incidunt doloribus quos, non accusamus quae
    aut sunt aliquam. Eos, facilis eveniet cumque a, quisquam doloribus sunt
    exercitationem asperiores esse eum iure ex laborum soluta facere placeat?
    Perspiciatis, esse officia libero aspernatur quam nihil est saepe optio
    velit dolorum corporis quia eveniet ipsam ut? Repellat magnam velit
    voluptatem dolore reiciendis fugit blanditiis facilis voluptates ratione
    quibusdam sit perferendis qui, deleniti eligendi ducimus. Accusamus iure cum
    itaque quidem vel a repellat fugiat facilis, harum asperiores consequuntur
    labore quis incidunt facere tempora illo, architecto nostrum inventore
    laudantium, sapiente sequi! Qui et in vel voluptate nam sapiente rem
    voluptatum quas soluta? Aliquam est similique distinctio illo aspernatur
    quasi placeat eius laborum iure vitae repudiandae nobis possimus harum,
    mollitia, alias culpa! Excepturi voluptatibus beatae, aspernatur sed maiores
    soluta dolor recusandae officia iste adipisci vero similique nobis delectus
    rem. Accusamus hic ex dolorum corporis cupiditate qui alias ab consequatur
    autem! Voluptas.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non omnis quidem
    magni voluptatibus, pariatur debitis quia in, atque, dignissimos doloribus
    facere officiis ea culpa explicabo eveniet aspernatur recusandae ab velit
    dolores! Hic quae est at? Explicabo laudantium odit et facere sequi. Magnam,
    expedita. Nemo impedit esse ea unde necessitatibus laudantium quidem sint
    praesentium et voluptates, sed maiores, tenetur nostrum aliquam cum debitis
    exercitationem quae inventore assumenda odit. Magnam voluptatum repellendus
    facilis suscipit est consequuntur quos, tenetur illum doloremque
    perspiciatis recusandae in explicabo dolorem similique ad cum dolorum
    reiciendis quisquam vero dolores? Dolorem eligendi perspiciatis in maxime
    itaque unde distinctio necessitatibus?
  </p>
  <ButtonSubscribe client:visible />
  <style>
    body {
      background-color: #002;
      color: #77f;
      font-family: system-ui, sans-serif;
      margin: 0;
    }
    .green {
      color: #3f3;
    }
    .yellow {
      color: #ff3;
    }
  </style>
</Layout>
