---
import Card from "../components/Card.astro";
import Layout from "../components/Layout.astro";
---

<Layout titlePage="Who we are?">
  <h1 class="text-4xl mt-8">Who we are?</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ex illo ut
    exercitationem. Reprehenderit vel eaque consequatur impedit odit, doloremque
    necessitatibus cupiditate.
  </p>
  <Card
    title="about me"
    description="I'm Tiziano Montenegro, I born in March, 7th 2007 in Argentina."
  />
  <Card title="what about you" description="hola còmo estas =?=???" />
  <Card title="what about you" description="hola còmo estas =?=???" />
</Layout>
